<article
  class="contact-container"
  *ngFor="let contact of allContacts"
>
  <figure>
    <!-- <img src="https://picsum.photos/64/64"> -->
    <img [src]="contact.avatar">
    <!-- <img [src]="https://picsum.photos/id/contact.id/64/64"> -->
  </figure>
  <div class="contact-details">
    <div class="contact-name-email">
      <p>
        {{ contact.name }}
      </p>
      <p>
        {{ contact.email }}
      </p>
    </div>
    <p>
      {{ contact.celphone }}
    </p>
  </div>
  <div class="action-icons">
    <button (click)="deleteUser(contact.id)">X</button>
    <button>Edit</button>
  </div>
</article>
