$darkBackground: #121212;
$darkBody: #1a1a2e;
$darkContainer: #1d1d1d;
$darkContainerActive: #2d2c2c;
$textOnDark: #FFFFFF;
$textOnLighter: #000000;
$shadow16: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
